<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>ExamPortal</title>
     {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
</head>
<body class="bg-light">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
        <a href="{% url 'home' %}" class="navbar-brand">SuperAdmin</a>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a href="{% url 'logouts' %}" class="nav-link">LogOut</a>
            </li>
        </ul>
</nav>
<div class="container-fluid mt-3">
        <div class="row">
            <div class="col-lg-2">
                <ul class="list-group ">
                          <li class="list-group-item bg-dark "><a href="{% url 'home' %}" class="nav-link text-muted small p-0 m-0 ml-5">Dashboard</a></li>
                          <li class="list-group-item bg-dark "><a href="{% url 'upload_data' %}" class="nav-link text-muted small p-0 m-0 ml-5">Upload File</a></li>
                          <li class="list-group-item bg-dark "><a href="{% url 'subject' %}" class="nav-link text-muted small p-0 m-0 ml-5">Subject</a></li>
                          <li class="list-group-item bg-dark "><a href="{% url 'branch' %}" class="nav-link text-muted small p-0 m-0 ml-5">Branch</a></li>
                          <li class="list-group-item bg-dark "><a href="{% url 'semester' %}" class="nav-link text-muted small p-0 m-0 ml-5">Semester</a></li>
                          <li class="list-group-item bg-dark "><a href="{% url 'exam' %}" class="nav-link small text-muted p-0 m-0 ml-5">Exam</a></li>
                          <li class="list-group-item bg-dark "><a href="{% url 'proctor' %}" class="nav-link small text-muted p-0 m-0 ml-5">Proctor</a></li>
                          <li class="list-group-item bg-dark "><a href="{% url 'students' %}" class="nav-link small text-muted p-0 m-0 ml-5">Students</a></li>
                          <li class="list-group-item bg-dark "><a href="{% url 'questions' %}" class="nav-link small text-muted p-0 m-0 ml-5">Questions</a></li>
                          <li class="list-group-item bg-dark "><a href="{% url 'password_change' %}" class="nav-link small text-muted p-0 m-0 ml-5">Setting</a></li>
                </ul>
            </div>
        {% block  content %}{% endblock %}
        </div>
    </div>
{% block footer %}{% endblock %}
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script>
        $(document).ready(function () {
            $(".form-group>input,select,textarea").addClass("form-control");
            });
</script>
</html>