{% extends 'base.html' %}
{% block content %}
    <div class="col-lg-10">
    <div class="row">
        <div class="col-lg-5">
            <div class="card">
                <div class="card-header">Add Branch</div>
                {% for foo in messages %}
                                <div class="alert {{ foo.tags }}  alert-dismissible fade show " role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    {{ foo }}
                                </div>
                        {% endfor %}
                <div class="card-body">
                    <form action="{% url 'branch' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                            {% for form in form %}
                                <div class="form-group">
                                {{ form.label_tag }}
                                {{ form }}
                                    <label for="" class="text-danger">{{ form.errors }}</label>
                                </div>
                            {% endfor %}
                        <div class="form-group">
                            <input type="submit" class="btn btn-block btn-success">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-7">
            <div class="card">
                <div class="card-body small">
                    <table class="table table-hover ">
                        <tr>
                            <th>Branch Name</th>
                            <th>Date</th>
                            <th>Actions</th>
                        </tr>
                        {% for b in branch %}
                            <tr>
                            <td>{{ b.branch_name }}</td>
                            <td>{{ b.doc|date:'d M,Y' }}</td>
                            <td>
                                <a href="{% url 'branch_update' b.slug %}" class="btn btn-primary"><i class="fas fa-edit fa-lg "></i></a>
                                <a href="{% url 'branch_delete' b.slug %}" class="btn btn-danger"><i class="fas fa-trash"></i></a>
                            </td>
                            </tr>

                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}