{% extends 'base.html' %}
{% block content %}
 <!---modal--->
    <div class="modal fade" id="updateStudent{{ student.0.slug }}" role="dialog">
    <div class="modal-dialog">
        <form  class="well contact-form" method="post" action="">
            {% csrf_token %}
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title text-primary small">Update {{ student.0.student_name }} Details</h1>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    {% for form in form %}
                    <div class="form-group">
                                {{ form.label_tag }}
                                {{ form }}
                                    <label for="" class="text-danger">{{ form.errors }}</label>
                                </div>
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    <button  type="submit" class="btn btn-success">Update</button>
                </div>
            </div>
        </form>
    </div>
</div>
    <!-----end-modal---->
<div class="col-lg-10">
        <div class="card">
            <div class="card-header">
                 <div class="form-inline">
            <span class="">Student Details</span>
             <button type="button" class="btn  ml-auto" data-toggle="modal" data-target="#updateStudent{{ student.0.slug }}"><i class="fas fa-edit fa-lg text-primary"></i></button>
        </div>
            </div>
            <div class="card-body">
                <table class="table table-responsive-sm">
                    <tr class="small">
                        <th>Student Name</th>
                        <td>{{student.0.student_name}}</td>
                    </tr>
                    <tr class="small">
                        <th>Email</th>
                        <td>{{ student.0.student_email }}</td>
                    </tr>
                    <tr class="small">
                        <th>Contact</th>
                        <td>{{ student.0.student_phone }}</td>
                    </tr>
                    <tr class="small">
                        <th>Branch</th>
                        <td>{{ student.0.branch_id.branch_name }}</td>
                    </tr>
                    <tr class="small">
                        <th>Semester</th>
                        <td>{{ student.0.semester_id.semester_name }}</td>
                    </tr>
                    <tr class="small">
                        <th>Session</th>
                        <td>{{ student.0.session }}</td>
                    </tr>
                    <tr class="small">
                        <th>Section</th>
                        <td>{{ student.0.section }}</td>
                    </tr>
                    <tr class="small">
                        <th>Address</th>
                        <td>{{student.0.student_address}},{{ student.0.city }},{{ student.0.state }},{{ student.0.country }}</td>
                    </tr>
                </table>
            </div>
        </div>
</div>
{% endblock %}